* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 3rem;
  text-transform: capitalize;
}
h2 {
  font-size: 1.5rem;
  text-transform: capitalize;
}
h3 {
  font-size: 1.2rem;
  text-transform: capitalize;
}
h4 {
  font-size: 1rem;
  text-transform: capitalize;
}
h5 {
  font-size: 0.8rem;
  text-transform: capitalize;
}
p {
  font-size: 1rem;
  line-height: 1.5;
}
/* NAVIGATION */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(219, 219, 219, 0.5);
  width: 100%;
}
.nav_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_center {
  margin: 0 1rem;
  height: auto;
}
.nav_icon {
  display: none;
}
.nav_center_ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  list-style: none;
  width: 100%;
}
.nav_center_ul a {
  text-decoration: none;
}
.nav_list {
  font-size: 1rem;
  text-transform: capitalize;
  color: #0c0114;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}
.nav_right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  height: auto;
}
.btn {
  cursor: pointer;
  padding: 0.8rem;
  width: 100%;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
}
.login_btn {
  color: #3e0563;
}
.create_btn {
  background-color: #3e0563;
  color: #fff;
}
/* HERO SECTION */
.hero {
  text-align: center;
  padding: 5rem 0;
}
.main_header {
  font-size: 5rem;
  width: 85%;
  margin: 0 auto;
}
form {
  display: grid;
  grid-template-columns: 0.75fr 0.25fr;
  gap: 1rem;
  width: 80%;
  margin: 2rem auto;
}
form input {
  padding: 2rem 1rem;
  width: 100%;
}
.main_input {
  position: relative;
}
.input_place {
  padding-left: 5rem;
}
.search_icon {
  position: absolute;
  top: 40%;
  font-size: 1rem;
  left: 5%;
  color: #bababa;
}
.for_icon {
  font-size: 1.5rem;
}
.view_cat {
  display: flex;
  justify-content: center;
  align-items: center;
}
.view_cat h5 {
  margin-right: 0.5rem;
}
/* CENTER  */
.target_div {
  background: #1f0231 url("images/frame.svg");
  padding: 3rem 2rem 7rem;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.target_div h1 {
  text-align: center;
  margin: 2rem 0;
}
.grid_4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.target_cont img {
  height: 150px;
  width: 150px;
  object-fit: contain;
  padding: 2rem;
}
.target_cont {
  text-align: center;
  border: 2px solid grey;
  padding: 2rem 0;
  width: 100%;
}
.award {
  padding: 0 10%;
  margin: 7rem auto;
  display: flex;
  gap: 2rem;
  position: relative;
}
.award div {
  width: 50%;
}
.award img {
  width: 100%;
}
.award_p {
  text-align: justify;
}
.line {
  width: 30%;
  border: none;
  border-bottom: 2px solid #fa9706;
  margin: 1rem 0;
}
.award .btn {
  width: 50%;
  margin: 1rem 0;
}
.absolute1 {
  position: relative;
}
.stripe {
  position: absolute;
  right: 0;
  bottom: 0;
  object-fit: contain;
  height: 150px;
  margin: 2rem 0;
}
.start {
  text-align: left;
}
.award2 {
  flex-direction: row-reverse;
  width: 100%;
}
.techies_img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
#award img {
  object-fit: contain;
}
.stripe2 {
  transform: rotateY(180deg);
  left: 0;
}
.talent_div {
  display: grid;
  width: 85%;
  grid-template-columns: repeat(3, 1fr);
  margin: 3rem auto;
  gap: 1rem;
}
.talent {
  text-align: center;
  border: 4px solid #eeeeee;
  padding: 2rem;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
}
.talent img {
  height: 70px;
  object-fit: contain;
}
.talent h2 {
  margin: 1rem 0;
  color: #3e0563;
}
/* FOOTER */
footer {
  background: url("images/footer.svg");
  color: #fff;
  padding: 4rem;
}
.first_item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
footer h2 {
  color: #fa9706;
  font-size: 1rem;
}
footer a {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 1rem 0;
  font-size: 0.7rem;
}
footer img {
  margin-top: 3rem;
}
footer h5 {
  font-size: 0.7rem;
}
.second_item {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

/* FUTURE EDITION PAGE */
.future {
  text-align: center;
  background-color: #ffffff;
  margin: 1rem 0;
  padding: 2rem;
}
.future .grid_4 {
  margin: 2rem 0;
}
.future h2 {
  font-size: 2rem;
}
.future p {
  color: #434a54;
}
.future_cont {
  padding: 3rem 1rem;
  box-shadow: 0px 2px 15px rgba(230, 230, 230, 0.5);
  border-radius: 8px;
}
.future_cont h4 {
  margin: 3rem 0;
}
/* ABOUT US PAGE */
.group_img {
  width: 100%;
  margin: 2rem 0;
}
.future .award {
  text-align: left;
  padding: 2rem;
  gap: 3rem;
}
.teach_img1 {
  margin-bottom: 2rem;
}
.teach_img {
  margin: 2rem 0;
}
.award_don {
  margin: 0;
}
/* TECHIES PAGES*/
.tech_cont img {
  height: 200px;
  width: 200px;
  object-fit: contain;
}
.tech_cont p {
  color: #3e0563;
}
/* PHOTO GALLERY */
.grid_3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 3rem 0;
}
.img_cont img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.img_cont img:hover {
  transform: scale(1.05);
}
.disp_img {
  height: 100vh;
  width: 100vw;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.disp_gallery {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.disp_gallery img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.nextPrev {
  font-size: 1.2rem;
  background-color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}
