* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 3rem;
  text-transform: capitalize;
}
h2 {
  font-size: 1.5rem;
  text-transform: capitalize;
}
h3 {
  font-size: 1.2rem;
  text-transform: capitalize;
}
h4 {
  font-size: 1rem;
  text-transform: capitalize;
}
h5 {
  font-size: 0.8rem;
  text-transform: capitalize;
}
p {
  font-size: 1rem;
  line-height: 1.5;
}
/* NAVIGATION */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(219, 219, 219, 0.5);
  width: 100%;
}
.nav_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_center {
  margin: 0 1rem;
  height: auto;
}
.nav_icon {
  display: none;
}
.nav_center_ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  list-style: none;
  width: 100%;
}
.nav_center_ul a {
  text-decoration: none;
}
.nav_list {
  font-size: 1rem;
  text-transform: capitalize;
  color: #0c0114;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}
.nav_right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  height: auto;
}
.nav_right .btn {
  display: none;
}
.nav_right .login_icon {
  display: block;
}
.nav_right a {
  text-decoration: none;
}
.btn {
  cursor: pointer;
  padding: 0.8rem;
  width: 100%;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
}
.login_btn {
  color: #3e0563;
}
.create_btn {
  background-color: #3e0563;
  color: #fff;
}
/* HERO SECTION */
.hero {
  text-align: center;
  padding: 5rem 0.5rem;
}
.main_header {
  font-size: 4rem;
  width: 85%;
  margin: 0 auto;
  line-height: 1.5;
}
form {
  display: grid;
  grid-template-columns: 0.75fr 0.25fr;
  gap: 1rem;
  width: 80%;
  margin: 2rem auto;
}

.submit_link input {
  background-color: #3e0563;
  color: #fff;
  border-radius: 5px;
  border: none;
}
form input {
  padding: 2rem 1rem;
  width: 100%;
}
.main_input {
  position: relative;
}
.input_place {
  padding-left: 5rem;
}
.search_icon {
  position: absolute;
  top: 40%;
  font-size: 1rem;
  left: 5%;
  color: #bababa;
}
.for_icon {
  font-size: 1.5rem;
}
.submit_link .view_cat h4 {
  color: #0c0114;
  /* text-decoration: none !important; */
}
.view_cat {
  display: flex;
  justify-content: center;
  align-items: center;
}
.view_cat h5 {
  margin-right: 0.5rem;
}
/* CENTER  */
.target_div {
  background: #1f0231 url("images/frame.svg");
  padding: 3rem 2rem 7rem;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.target_div h1 {
  text-align: center;
  margin: 2rem 0;
}
.grid_4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.target_cont img {
  height: 150px;
  width: 150px;
  object-fit: contain;
  padding: 2rem;
}
.target_cont {
  text-align: center;
  border: 2px solid grey;
  padding: 2rem 0;
  width: 100%;
}
.award {
  padding: 0 10%;
  margin: 7rem auto;
  display: flex;
  gap: 2rem;
  position: relative;
}
.award div {
  width: 50%;
}
.award img {
  width: 100%;
}
.award_p {
  text-align: justify;
}
.line {
  width: 30%;
  border: none;
  border-bottom: 2px solid #fa9706;
  margin: 1rem 0;
}
.award .btn {
  width: 50%;
  margin: 1rem 0;
}
.absolute1 {
  position: relative;
}
.stripe {
  position: absolute;
  right: 0;
  bottom: 0;
  object-fit: contain;
  height: 150px;
  margin: 2rem 0;
}
.start {
  text-align: left;
}
.award2 {
  flex-direction: row-reverse;
  width: 100%;
}
.techies_img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
#award img {
  object-fit: contain;
}
.stripe2 {
  transform: rotateY(180deg);
  left: 0;
}
.talent_div {
  display: grid;
  width: 85%;
  grid-template-columns: repeat(3, 1fr);
  margin: 3rem auto;
  gap: 1rem;
}
.talent {
  text-align: center;
  border: 4px solid #eeeeee;
  padding: 2rem;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
}
.talent img {
  height: 70px;
  object-fit: contain;
}
.talent h2 {
  margin: 1rem 0;
  color: #3e0563;
}
/* FOOTER */
footer {
  background: url("images/footer.svg");
  color: #fff;
  padding: 4rem;
}
.first_item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.footer_div {
  width: 100%;
}
footer h2 {
  color: #fa9706;
  font-size: 1rem;
}
footer a {
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 1rem 0;
  font-size: 0.7rem;
}
footer img {
  margin-top: 3rem;
}
footer h5 {
  font-size: 0.7rem;
}
.second_item {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

/* FUTURE EDITION PAGE */
.future {
  text-align: center;
  background-color: #ffffff;
  margin: 1rem 0;
  padding: 2rem;
}
.future_header {
  width: 100%;
}
.future .grid_4 {
  margin: 2rem 0;
}
.future h2 {
  font-size: 2rem;
}
.future p {
  color: #434a54;
}
.future_cont {
  padding: 3rem 1rem;
  box-shadow: 0px 2px 15px rgba(230, 230, 230, 0.5);
  border-radius: 8px;
  width: 100%;
}
.future_cont h4 {
  margin: 3rem 0;
}
/* ABOUT US PAGE */
.group_img {
  width: 100%;
  margin-top: 2rem;
}
.future .award {
  text-align: left;
  padding: 0 2rem;
  gap: 3rem;
}
.teach_img1 {
  margin-bottom: 2rem;
}
.teach_img {
  margin: 2rem 0;
}
.award_don {
  margin: 0;
}
/* TECHIES PAGES*/
.tech_cont img {
  height: 200px;
  width: 200px;
  object-fit: contain;
}
.tech_cont {
  width: 100%;
}
.tech_cont p {
  color: #3e0563;
}
/* PHOTO GALLERY */
.grid_3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 3rem 0;
}
.img_cont img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.img_cont img:hover {
  transform: scale(1.05);
}
.disp_img {
  height: 100vh;
  width: 100vw;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.disp_gallery {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.disp_gallery img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.nextPrev {
  font-size: 1.2rem;
  background-color: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}
/* CATEGORIES PAGE */
.vote_cont {
  background: #ffffff;
  box-shadow: 0px 2px 15px rgba(230, 230, 230, 0.5);
  border-radius: 8px;
  padding: 2rem;
  width: 100%;
}
.vote_cont i {
  justify-content: right;
  display: flex;
  font-size: 2rem;
}
.vote_cont h4 {
  margin: 1rem 0;
}
.votes_header p {
  margin: 1rem 0;
}
.votes_header span {
  font-size: 3rem;
}
.vote_cont p {
  margin: 1rem 0;
}
.count {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  border: 2px solid #3e0563;
}
.vote_img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 100%;
  border: 2px solid #3e0563;
}
.query span {
  font-size: 1rem;
  display: block;
}
.increase_vote_link {
  cursor: pointer;
}
/* VOTING POWER */
.power {
  background: url("images/footer.svg");
  color: #fff;
  padding: 2%;
}
.power article {
  background-color: #fff;
  padding: 3%;
  border-radius: 5px;
}
.power .future_header {
  text-align: center;
  margin: 2rem 0;
  color: #000;
}
.power_count {
  align-items: flex-end;
}
.one,
.two,
.three,
.four {
  text-align: center;
  background: url("images/footer.svg");
  color: #fff;
  width: 100%;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.power_count p {
  font-size: 0.75rem;
}
.power_count h1 {
  font-size: 3rem;
}
.power_count h2 {
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
}
.one {
  height: 300px;
}
.two {
  height: 350px;
}
.three {
  height: 400px;
}
.four {
  height: 450px;
}
.power_count .btn {
  font-size: 0.85rem;
}
.congrats {
  background: linear-gradient(
    rgba(195, 193, 193, 0.5),
    rgba(184, 184, 184, 0.5)
  );
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: scale(0);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.5s;
}
.show_congrats {
  transform: scale(1);
}
.congrats_cont {
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 5rem 1rem 3rem;
  width: 50%;
  position: relative;
}
.congrats_cont .btn {
  padding: 1.5rem 0;
}
.congrats_cont h2 {
  color: #3e0563;
}
.congrats_cont p {
  margin: 1.5rem;
}
.icon_awe,
.vote_cont .icon_awe {
  color: #fa9706;
  font-size: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.close {
  font-size: 1.5rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
}
/* NOMINATE */
.nominate {
  color: #000;
}
.nominate article {
  width: 70%;
  margin: 0 auto;
}
.end_p {
  text-align: center;
  margin-bottom: 2rem;
}
.nominate_form input,
label,
select {
  display: block;
  width: 100%;
  font-size: 1rem;
}
.nominate_form input,
select {
  padding: 1.2rem;
  border-radius: 5px;
  border-style: none;
  border: 2px solid #cecece;
}
#input_pic {
  border: none;
}
.img_upload {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  border: 2px dashed #434a54;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto 2rem;
}
.nominee_pic {
  text-align: center;
}
.nominate_form input,
select {
  margin-bottom: 2rem;
}
.nominate_form label {
  margin-bottom: 0.7rem;
}
.flag select {
  padding-left: 5rem;
}
.flag {
  position: relative;
}
.nominate_form {
  display: block;
}
.count_flag {
  height: 30px;
  width: 30px;
  object-fit: contain;
  position: absolute;
  top: 25%;
  left: 5%;
}
.icon_social {
  display: flex;
  align-items: center;
}
.icon_social i {
  font-size: 1.4rem;
  color: #0953b4;
}
.social_cont {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  align-items: center;
}
.google {
  background: rgba(221, 220, 220, 0.5);
  text-align: center;
  position: relative;
  padding: 1.5rem;
  border-radius: 5px;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.google img {
  height: 30px;
}
.alt {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr 0.7fr;
  color: rgba(119, 119, 119, 0.5);
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  margin: 1rem 0;
}
.alt hr {
  border-style: none;
  border-bottom: 2px solid;
}
