* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* NAVIGATION */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(219, 219, 219, 0.5);
  width: 100%;
  transition: all 2s ease-in-out;
}
.nav_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_center {
  margin: 0 1rem;
  height: auto;
}
.nav_icon {
  display: none;
}
.nav_center_ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  list-style: none;
  width: 100%;
}
.nav_list {
  font-size: 1rem;
  text-transform: capitalize;
  color: #0c0114;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}
.nav_right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  height: auto;
}
.btn {
  cursor: pointer;
  padding: 0.8rem;
  width: 100%;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
}
.login_btn {
  color: #3e0563;
}
.create_btn {
  background-color: #3e0563;
  color: #fff;
}
